:root{
  --main-color: #2A2B2DFF ;
  --color2: #D9514EFF ;
  --color3: #2DA8D8FF ;
  --mlarge: 15% ;
  --msmall: 10% ;
  --main-width: 10% ;
  --wlarge: 100% ;
  --wsmall: 20% ;
  --main-height: 10vh ;
  --hlarge: 100vh ;
  --hsmall: 20vh ;
  --main-size: 16px ;
  --slarge: 4rem ;
  --ssmall: 2rem ;
  --main-spacing: 1.5rem ;
  --space-large: 3rem ;
  --space-small: 1rem ;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}


/* navbar */
/*Global configuration*/
html, body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/*configuraton for header*/
header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: sans-serif;
  background-color: var(--color3);
}
.brand {
  width: auto;
  height: 100%;
  float: left;
  margin: 0 0 0 5%;
}
/*menu Navigation*/
.menu {
  width: 60%;
  height: 100%;
  float: right;
}
.menu ul {
  width: 100%;
  height: inherit;
  margin-top: 0;
  padding: 0;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.menu ul a {
  width: 20%;
  height: inherit;
  color: #222;
  display: inline-block;
}
.menu ul a:hover {
  background-color: #222;
  color: #fff;
}
#menuToggle {
  display: none;
}
.menu-icon {
  display: none;
}
/*Responsiveness when screen < 768px*/
@media screen and (max-width: 768px) {
  .menu {
      width: 100%;
      height: auto;
  }
  .menu ul {
      display: block;
      max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
      -ms-transition: max-height 0.3s;
      -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
      /*Para fazer com que o menu saia da esquerda, você deve trocar max-height por max-width*/
      /*Para fazer com que o menu saia da direita, você deve trocar max-height por max-width e setar float: right*/
  }
  .menu ul a {
      text-align: left;
      width: 100%;
      height: 50px;
      background-color: var(--color2);
      padding: 10px 0px 10px 5%;
  }
  .menu-icon {
      width: 100px;
      height: inherit;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      line-height: 60px;
  }
  #menuToggle:checked ~ ul {
      max-height: 350px;
      /*Para fazer com que o menu saia da esquerda ou direita, você deve trocar max-height por max-width*/
  }
  .menu-icon i {
      font-size: 1.7em;
  }
}
/* /navbar */



/* video bacground */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: roboto, sans-serif;
}

.home {
  height: 90vh;
  position: relative;
}
video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-content {
  position: relative;
  padding-top: 150px;
  color: #fff;
  text-align: center;
}
.home-content h1 {
  font-family: Playfair Display, serif;
  font-size: clamp(45px, 7vw, 130px);
  line-height: 1.1;
}

.home p {
  font-size: clamp(25px, 4vw, 40px);
  margin-top: 10px;
}

.home-content button {
  display: block;
  font-size: clamp(14px, 1.5vw, 18px);
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  margin: 50px auto 0;
  padding: 12px 20px;
  cursor: pointer;
}

.home-content button:hover {
  display: block;
  font-size: clamp(14px, 1.5vw, 18px);
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: var(--main-color);
  color: var(--color2);
  margin: 50px auto 0;
  padding: 12px 20px;
  cursor: pointer;
}
/* /video background */




/* second section */
/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
.second{
  background: var(--color3);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}
.second_main{
  min-height: 20vh;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 5%;
}

.second_main img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -10% 0;
  padding: 0;
  justify-content: center;
}

.cards_item {
  display: flex;
  padding: 1rem;
  z-index: 2;
}


@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

.move{
  margin: 3rem 0;
}
.movie_btn{
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}
.second button {
  display: block;
  font-size: clamp(14px, 1.5vw, 18px);
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: transparent;
  color: #f1f1f1;
  margin: 50px auto 0;
  padding: 12px 20px;
  cursor: pointer;
}

.second button:hover {
  display: block;
  font-size: clamp(14px, 1.5vw, 18px);
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: var(--main-color);
  color: var(--color2);
  margin: 50px auto 0;
  padding: 12px 20px;
  cursor: pointer;
}
/* /second section */




/* mark section */
.mark{
  min-height: 10vh;
  background: var(--main-color);
}

.mark marquee{
  margin-top: 2%;
  color: #f1f1f1;
  font-size:large;
}
.mark span{
  font-weight: bold;
  color: var(--color2);
  top:5%;
}
/* /mark section */



/* Gallery */

.second1{
  background: var(--color2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.second_main1{
  min-height: 20vh;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 5%;
}

.second_main1 img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.second_main1 .cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.second_main1 .cards_item {
  display: flex;
  padding: 1rem;
  z-index: 2;
}


@media (min-width: 40rem) {
  .second_main1 .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .second_main1 .cards_item {
    width: 33.3333%;
  }
}

.second_main1 .card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.second_main1 .card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.second_main1 .card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.second_main1 .card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

.video1{
  height: 20vh;
  width: 100%;
  position: relative;
}

.video1 video{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second_main1 h2{
  font-weight: bold;
  color: var(--color3);
  font-family: Playfair Display, serif;
  text-transform: uppercase;
  text-align: center;
  margin: 3% 0 0 0;
  font-size: 3rem;
}



/* list of movies */
.movies{
  min-width: 100vw;
  min-height: 80vh;
  background: var(--main-color);
  margin: 0 auto;
  padding: 4rem 8rem;
  overflow: auto;
}
.movies h2{
  font-weight: bold;
  color: var(--color3);
  font-family: Playfair Display, serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}
.float_all ul{
  padding: 1rem;
}
.listone li{
  font-size: 2rem;
  color: var(--color2);
  padding: .5rem;
}
.listtwo li{
  font-size: 2rem;
  color: var(--color3);
  padding: .5rem;
}
.listthree li{
  font-size: 2rem;
  color: var(--color2);
  padding: .5rem;
}
.color1{
  color: var(--color3);
  font-family: Playfair Display, serif;
}
.color{
  color: var(--color2);
  font-family: Playfair Display, serif;
}

.float_all{
  border: .5rem #EF8D9C solid;
  width: 30%;
  float: left;
  align-self: center;
  margin: 1rem;
}





/* clear float */
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}






/* review content */
.slide_contain{
  height: 100%;
  width: 100%;
  padding: 2%;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#circle-shape-example { 
  font-family: Open Sans, sans-serif; 
  margin: 2rem; 
}
#circle-shape-example p { 
  line-height: 1.8; 
}
#circle-shape-example .curve { 
  width: 33%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

#circle-shape-example h2{
  font-weight: bold;
  color: var(--color3);
  text-transform: uppercase;
  font-size: 3rem;
}
#circle-shape-example p{
  color: #efefef;
  font-size: 1rem;
}

/* /review content */


/* horzontal scroll/review */
.slide{
  width: 98vw;
  height: 100vh;
}
.inner_wrapper{
  display: flex;
  flex-direction: row;
  width: 394vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.one{
  background: #f18797;
}
.two{
  background: #EF8D9C;
}
.three{
  background: #b4747d;
}
.four{
  background: #876c70;
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.outer_wrapper{
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar{
  display: none;
}


/* footer */
.footer {
  margin-top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--color3);
  text-align: center;
}


